* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;


}

html {
   scroll-behavior: smooth;
}


body {
   background-color: hsla(203, 19%, 87%, 0.897) !important;
   font-family: 'Poppins', sans-serif;
   font-style: normal;


}

.container {
   max-width: 1800px;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;

}

header {
   background-color: rgba(2, 102, 19, 0.938);
   width: 100%;
   height: 120px;
   padding: 10px 20px;
   position: fixed;
   top: 0;
   z-index: 1000;
}

h1,
h2,
h3 {
   color: rgba(2, 102, 19, 0.938) !important;
   font-size: 1.8rem !important;

}

p {
   font-size: 1rem;
   color: #333;
   line-height: 1.5;
   /* Um tom mais neutro para o texto */
}


.aside {
   padding-top: 120px;
   display: flex;
}

.aside aside {

   display: flex;
   flex-direction: column;
   width: 500px;
}



.logo,
.socias {
   width: 25%;
}

.logo img {
   width: 140px;
   border-radius: 9px;
   height: 100%;

}


.titulo {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-content: center;
   flex-wrap: nowrap;
   align-items: center;

}

.socias button {
   width: 45px;
   height: 45px;
   background-image: linear-gradient(45deg, #0b1b77, #0b17b966);
   border-radius: 8px;
   cursor: pointer;
   border: none;
   margin-right: 10px;
}


.socias button i {
   font-size: 20px;
   color: #ffffff;
}

.socias button:hover {
   transform: scale(1.1);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.socias button i:hover {
   color: #ffd700;
   /* Destaque dourado ao ícone */
}

.menu {
   width: 50%;
}

.menu nav a {
   color: #ffffff;
   text-decoration: none;
   padding: 40px;
}

.somos {

   display: flex;
   justify-content: space-around;
}

img {
   border-radius: 8px;
   width: 100%;
   height: auto;
   object-fit: cover;
   border: 1px solid rgba(2, 102, 19, 0.938);
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

}

iframe {
   width: 350px;
   height: 350px;
   text-align: center;
   border: 2px solid #ccc;
   border-radius: 8px;
   margin-top: 10px;
}

footer {
   background-color: rgba(2, 102, 19, 0.938);
   color: white;
   padding: 15px;
   font-size: 14px;
   text-align: center;

}

footer p {
   color: white;
   text-decoration: none;
}

footer p:hover {
   color: #ffd700;
}
a:focus {
   outline: 2px dashed #ffd700;
   outline-offset: 4px;
}
