/* Estilo Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Estilo para o corpo */
body {
    background-color: hsla(203, 19%, 87%, 0.897) !important;
}

/* Cabeçalho */
header {
    background-color: rgba(2, 102, 19, 0.938);
    width: 100%;
    height: 130px;
    padding: 20px;
    position: fixed;

}

/* Formulários e Ações */
div form .action {
    display: flex;
    flex-direction: column;
}

/* Container principal */
.contanier {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Logo */
.logo,
.socias {
    width: 25%;
}

.logo img {
    width: 150px;
    border-radius: 9px;
}

/* Botões de redes sociais */
.socias button {
    width: 45px;
    height: 45px;
    background-image: linear-gradient(45deg, #0b1b77, #0b17b966);
    border-radius: 8px;
    cursor: pointer;
    border: none;
    margin-right: 10px;
}

.socias button i {
    font-size: 20px;
    color: #ffffff;
}

/* Navegação */
.menu {
    width: 50%;
}

.menu nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 40px;
}

/* Seções principais */
section {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 130px;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Estilo para o iframe */
iframe {
    width: 350px;
    height: 350px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-top: 10px;
}

/* Rodapé */
footer {

    text-align: center;
    font-style: italic;
    color: mediumblue;
    position: relative;
    padding: 10px;
    background-color: #f5f5f5;
    margin-top: 20px;
}

/* Responsividade */
@media (max-width: 600px) {
    body {
        background-color: red !important;
        margin: 10px !important;
    }
}