body {
    background-image: url(Imagens/Por\ do\ sol\ igreja.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

h1 {
    text-align: center;
    font-style: italic;
    color: black;
}