body {
    background-color: wheat;
    color: black;
    font-style: italic;
    text-align: justify;
}

.principal {
    color: yellow;
    font-size: larger;
    text-align: center;

}

.principal p {
    color: green;
    font-size: larger;
    text-align: center;

}

.principal h1 {
    font-size: large;
    text-align: center;
}
.segundaria p{
    font-size: larger;

}

.segundaria h2{
    text-align: center;
    font-size: larger;
    color: purple;
    
}
footer {
    color: black;
    font-size: small;
    text-align: center;
}
.carousel-item{
    display: flex;
    
}
img{
    width: 500px;
    height: 250px;;

}