* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: medium;
}


body {
    background-color: hsla(203, 19%, 87%, 0.897) !important;


}

header {
    background-color: rgba(2, 102, 19, 0.938);
    width: 100%;
    height: 120px;
    padding: 10px;

}

.contanier {
    max-width: 1800px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}


.logo,
.socias {
    width: 25%;
}

.logo img {
    width: 150px;
    border-radius: 9px;

}


.titulo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.titulo h1 {
    font-style: oblique;
    color: mediumblue;
    text-align: center;

}

.socias button {
    width: 45px;
    height: 45px;
    background-image: linear-gradient(45deg, #0b1b77, #0b17b966);
    border-radius: 8px;
    cursor: pointer;
    border: none;
    margin-right: 10px;
}

.socias button i {
    font-size: 20px;
    color: #ffffff;
}

.menu {
    width: 50%;
}

.menu nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 40px;
}

.principal {
    color: yellow;
    font-size: larger;
    text-align: center;
   

}

.principal p {
    color: green;
    font-size: larger;
    text-align: center;

}

.principal h1 {
    font-size: large;
    text-align: center;
}

.segundaria p {
    font-size: larger;

}

.segundaria h2 {
    text-align: center;
    font-size: larger;
    color: purple;

}

footer {
    border: 2px solid #897589;
    text-align: center;
    font-style: italic;
    color: mediumblue;
    position: relative;

}

.carousel-item {
    display: flex;
    flex-direction: column;

}

img .classe d-block w-100 {
    width: 75%;
    height: 175px;


}