body {
    background-color: wheat;
    color: black;
    font-weight: bold;
    text-align: justify;
}

.principal {
    color: yellow;
    font-size: larger;
    text-align: center;

}

.principal p {
    color: green;
    font-size: larger;
    text-align: center;

}

.principal h1 {
    font-size: large;
    text-align: center;
}
.segundaria p{
    

}

footer {
    color: black;
    font-size: small;
    text-align: center;
}