* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-style: italic;
}

html {
   scroll-behavior: smooth;
}


body {
   background-color: hsla(203, 19%, 87%, 0.897) !important;
}

.contanier {
   max-width: 1800px;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;

}

header {
   background-color: rgba(2, 102, 19, 0.938);
   width: 100%;
   height: 120px;
   padding: 10px;
   position: fixed;
}

.aside {
   padding-top: 120px;
   display: flex;
}

.aside aside {

   display: flex;
   flex-direction: column;
   width: 500px;
}

.aside aside h1 {
   font-variant: normal;
   color: #0b1b77;
}

.logo,
.socias {
   width: 25%;
}

.logo img {
   width: 150px;
   height: 100px;
   border-radius: 9px;

}


.titulo {
   display: flex;
   flex-direction:column;
   justify-content: space-around;
   align-content: center;
   flex-wrap: nowrap;
   align-items: center;

}

.titulo h1 {
   font-style: oblique;
   color: mediumblue;
   text-align: center;

}

.socias button {
   width: 45px;
   height: 45px;
   background-image: linear-gradient(45deg, #0b1b77, #0b17b966);
   border-radius: 8px;
   cursor: pointer;
   border: none;
   margin-right: 10px;
}

.socias button i {
   font-size: 20px;
   color: #ffffff;
}

.menu {
   width: 50%;
}

.menu nav a {
   color: #ffffff;
   text-decoration: none;
   padding: 40px;
}

.primaria {
   color: blue;
   font-style: italic;
   text-align: center;


}

.primaria h1 {
   color: mediumblue;
   font-style: italic;
   text-align: center;
}

.somos {

   display: flex;
   justify-content: space-around;
}

.somos p {
   font-style: italic;
   color: black;
   text-align: center;
}

.chales {
   display: flex;
   justify-content: space-around;
   font-style: italic;

}

.chales p {
   font-style: italic;
   color: black;
   text-align: center;
}

.segundaria h1 {
   display: flex;
   justify-content: space-around;
   color: mediumblue;
}

.segundaria p {
   display: flex;
   justify-content: space-around;
   font-style: italic;
   text-align: center;
   color: black;


}

.dicas h1 {
   display: flex;
   justify-content: space-around;
   font-style: italic;
   text-align: center;
   color: mediumblue;
}


.dicas p {
   display: flex;
   justify-content: space-around;
   font-style: italic;
   text-align: center;
   color: black;
}

.dicas {

   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   text-align: center;
   align-content: flex-start;
   align-items: flex-start;
   flex-direction: row-reverse;
}

img {
   width: 120px;
   height: 120px;
}

footer {

   text-align: center;
   font-style: italic;
   color: mediumblue;
   position: relative;


}


@media (max-width: 600px) {
   body {
      background-color: red !important;
      margin: 10px !important;
   }

}