 body {
    background-color: black;
 }

 nav {
    color: yellowgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;

 }

 p {
    color: whitesmoke;
    font-style: oblique;

 }

 h1 {
    color: green;
    font-style: italic;
 }

 h2 {
    color: whitesmoke;
    font-weight: bolder;

 }

 h3 {
    color: whitesmoke;
    font-weight: bolder;
 }

 footer {
    color: darkgreen;
    font-size: larger;

 }