body {
    background-color: rgb(212, 228, 184);
    color: goldenrod;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



}

nav {
    color: green;
    font-size: larger;
    text-align: center;
}


h1 {
    animation-duration: 3s;
    color: purple;
    text-align: justify;
    font: bolder;
    color: 523;
    height: 350;
    width: 350;
}

h2 {
    color: blue;
    text-align: cente
}

table {
    table-layout: inherit;
    border-collapse: collapse;


}

th,
td {
    border: 5px solid rgb(185, 216, 13);
    padding: 9px;
}
div{
    text-align: center;
    

}
li {
    color: rgb(212, 6, 6);
    font-style: italic;


}