body {
    color: goldenrod;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}

nav {
    color: green;
    font-size: larger;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
}

li {
    color: black;
    font-weight: 300;

}