body {
    background-color: black;
    color: goldenrod;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}

nav {
    color: green;
    font-size: larger;
}

h1 {
    color: purple;
    text-align: center;
    font: bolder;
    color: 523;
    height: 120;
    width: 200;
}

h2 {
    color: blue;
    text-align: center;
}

table {
    table-layout: auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid rgb(185, 216, 13);
    padding: 1px;
}

li {
    color: rgb(212, 6, 6);
    font-style: italic;

}