.reserva {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px;
}

.inicio,
.card {
    width: 33%;
}
.inicio p{
    text-align: end;
    font-style: oblique;
    color: purple;
    text-align: center;
}

    