* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: medium;
 }
 body{
    background-color: hsla(203, 19%, 87%, 0.897) !important;
 }
 
 .contanier {
    max-width: 1800px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }
 
 header {
    background-color: rgba(2, 102, 19, 0.938);
    width: 100%;
    padding: 10px;
 }
 
 .logo,
 .socias {
    width: 25%;
 }
 
 .logo img {
    width: 150px;
    border-radius: 9px;
 
 }
 
 
 .titulo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
 }
 
 .titulo h1 {
    font-style: oblique;
    color: mediumblue;
    text-align: center;
 
 }
 
 .socias button {
    width: 45px;
    height: 45px;
    background-image: linear-gradient(45deg, #0b1b77, #0b17b966);
    border-radius: 8px;
    cursor: pointer;
    border: none;
    margin-right: 10px;
 }
 
 .socias button i {
    font-size: 20px;
    color: #ffffff;
 }
 
 .menu {
    width: 50%;
 }
 
 .menu nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 40px;

  }

.reserva {
    display: flex;
    margin: 50px;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-around;
    box-sizing: border-box;

}

.inicio,
.card {
    width: 33%;
}

.inicio p {
    text-align: end;
    font-style: oblique;
    color: black;
    text-align: center;
}

body {
    /*   background-image: url(Imagens/Por\ do\ sol\ igreja.jpg );*/
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

@media (max-width: 600px) {
    body {
        background-color: red !important;

    }

    .reserva {
        flex-direction: column;
    }
}