* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: hsl(204.37deg 66.55% 44.81%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    position: relative;
    height: 45px;
    width: 500px;
    background-color: white;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    position: relative;
    display: flex;
}

.menu ul li {
    position: relative;
    list-style-type: none;
}

.menu ul li a {
    position: relative;
    height: 120px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.menu ul li a {
    color: rgb(16, 17, 17);
    font-size: 38px;
}